/* 
 * Copyright 2015 Paulo Ferreira <pf at sourcenotes.org>
 * License http://opensource.org/licenses/AGPL-3.0 Affero GNU Public License v3.0
 */
/*******************************
 * BACKGROUND                  * 
 *******************************/
.bg_background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -100;
  overflow: hidden;
  opacity: 1;
  background-color: #ccc;
}

.bg_background > img {
  top: 0px;
  left: 0px;
  position: absolute;
}

/*******************************
 * FORMS                       * 
 *******************************/
.testcenter.ui.form {
  position: fixed;
  opacity: 0.5;
  background-color: #3d3131; 
  padding: 10px; 
  width: 500px; 
  border-radius: 10px;
  display: block;
  /* CENTER HORIZONTALLY */  
  margin: 10px auto;
  z-index: 10;
}

.testcenter.ui.form:hover {
  opacity: 0.95;
}

/* PLACE BEHIND BACKGROUND */
.testcenter.ui.form.hidden {
  display: none;
}


/*******************************
 * TOASTER                     * 
 *******************************/
#toaster .cf_toaster .content {
	text-align: left;
}

/*******************************
 * PLAYER                      * 
 *******************************/
.ui.grid.player > .column > .content {
  padding-bottom: 10px;
}

/*******************************
 * TEST CARD                   * 
 *******************************/
.ui.card.test {
  width: auto;
}

.ui.card.test > .content > .description {
  display: none;
}

.ui.card.test:hover > .content > .description {
  display: block;
}

.ui.card.test:hover {
  box-shadow: 0px 0px 0px 2px #a4a4b5, 4px 4px 0px 0px #a4a4a5;
}

.ui.card.test.current {
  box-shadow: 0px 4px 0px 0px #949495, 0px 0px 0px 2px #9494a5;
}

.ui.card.test.current:hover {
  box-shadow: 0px 0px 0px 2px #848485, 4px 4px 0px 0px #848485;
}

.ui.card.test.current > .content > .description {
  display: block;
}


/*******************************
 * STEP CARD                   * 
 *******************************/
.ui.card.step {
  width: auto;
}

.ui.card.step > .content > .description {
  display: none;
}

.ui.card.step:hover > .content > .description {
  display: block;
}

.ui.card.step:hover {
  box-shadow: 0px 0px 0px 2px #a4a4b5, 4px 4px 0px 0px #a4a4a5;
}

.ui.card.step.current {
  box-shadow: 0px 4px 0px 0px #949495, 0px 0px 0px 2px #9494a5;
}

.ui.card.step.current:hover {
  box-shadow: 0px 0px 0px 2px #848485, 4px 4px 0px 0px #848485;
}

.ui.card.step.current > .content > .description {
  display: block;
}


