/* 
 * Copyright 2015 Paulo Ferreira <pf at sourcenotes.org>
 * License http://opensource.org/licenses/AGPL-3.0 Affero GNU Public License v3.0
 */
@import "compass/css3/opacity";
@import "compass/css3/border-radius";

/* TESTCENTER Namespace */
.tc {

  /* SEMANTIC-UI Namespace */
  &.ui {

    /* FORMS OVERRIDE */
    &.form {      
      position: fixed;
      @include opacity(0.5);
      background-color: #3d3131;
      padding: 10px; 
      width: 500px; 
      @include border-radius(10px);
      /* CENTER HORIZONTALLY */  
      margin: 10px auto;
      z-index: 10;

      /* HIDDEN FORMS */
      &.hidden {
        visibility: hidden;
      }

      /* HOVER EFFECT */
      &:hover {
        @include opacity(0.95);
      }
    }
    
  }
}

/* Override the Semantic UI Defaults (for some reason the select specifically has the visibility set)*/
select.ui.dropdown {
  visibility: inherit !important;
}

/* Background Image Setup */
.bg_background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -100;
  overflow: hidden;
  @include opacity(1);
  background-color: #ccc;

  img {
    top: 0px;
    left: 0px;
    position: absolute;
  }
}

/* Toaster Configuration */
#toaster .cf_toaster .content {
  text-align: left;
}

/* Override Grid Player Content */
.ui.grid.player > .column > .content {
  padding-bottom: 10px;
}
