# Set PHP Session Linking
<IfModule mod_php5.c>
  # Trick to Unify Session Cookies Between Meta / Service and in the future Client
  php_value session.cookie_domain 10.193.0.201
  php_value session.cookie_path   /testcenter
  php_value session.save_path     /var/tmp/testcenter
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule  ^$ public/    [L]
	RewriteRule  (.*) public/$1 [L]
</IfModule>