/* 
 * Copyright 2015 Paulo Ferreira <pf at sourcenotes.org>
 * License http://opensource.org/licenses/AGPL-3.0 Affero GNU Public License v3.0
 */
/*******************************
 * CARD Defaults               * 
 *******************************/
.ui.card.cardview {
  width: auto;
}

.ui.card.cardview > .content > .description {
  display: none;
}

.ui.card.cardview:hover > .content > .description {
  display: block;
}

.ui.card.cardview:hover {
  box-shadow: 0px 0px 0px 2px #a4a4b5, 4px 4px 0px 0px #a4a4a5;
}

.ui.card.cardview.current {
  box-shadow: 0px 4px 0px 0px #949495, 0px 0px 0px 2px #9494a5;
}

.ui.card.cardview.current:hover {
  box-shadow: 0px 0px 0px 2px #848485, 4px 4px 0px 0px #848485;
}

.ui.card.cardview.current > .content > .description {
  display: block;
}
